
:root {
    --tw-bg-accent: #34d399;
}


.section-title {
    position: relative;
    display: inline-block;
    padding-bottom: 10px; 
}
.section-title::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 80px; 
    height: 4px;
    background-color: var(--tw-bg-accent); 
    border-radius: 9999px;
}
